.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.item {
  background-color: #FF5F9F;
  color: white;
  width: 25rem;
  height: 2.5rem;
  font-style: Roboto Mono;
  font-family: monospace;
  margin: 0.5rem;
  text-align: center;
}

.item-1 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-6 {
  display: flex;
  justify-content: center;
  align-items: center;

}
